.header-container {
    margin-top: 15px;

    .header-logo {
        font-size: 30px;
        color    : #08d9ff;
    }

    .header-name {
        font-size      : 30px;
        // color       : #08d9ff;
        // padding-left: 10px;
    }
}